body {
    /* background-image: url('../images/recycle-bg.jpg');
    background-size: cover; */
    /* color: white; */
    /* font-family: helvetica; */
}

.dialog {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.b-agent-demo .b-agent-demo_header-wrapper {
    background-color: pink!important;
}
.examples{
    font-style: italic;
}

.title {
    color: blue;
}

@media only screen and (max-width: 600px) {

    iframe {
        width: 100%;
    }
}
